.side-detail {
  width: 300px;
  height: 100%;
  background-color: $greybox-color;
  @include breakpoint("phone-tablet") {
    width: 100%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    background: white;
    border-radius: 30px;
    margin: 15px 10px;
    margin-bottom: 30px;
    padding: 15px;
    @include breakpoint("phone-tablet") {
      justify-content: center;
    }
    .header-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        text-align: center;
        word-break: keep-all;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .creator {
        margin-top: 5px;
        font-size: $small-font-size;
        .highlight {
          color: $theme-color;
          cursor: pointer;
        }
      }
    }
  }
  .header-meta {
    margin-bottom: 15px;
    .meta-list {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      .header-category {
        display: block;
        width: 20%;
        padding: 10px;
        margin-right: 10px;
        font-weight: 600;
        white-space: pre;
      }
      .header-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        padding: 10px;
        padding-left: 30px;
        border-radius: 30px;
        background: white;
        font-size: $normal-font-size;
        .time {
          padding-left: 5px;
        }
      }
    }
    .button {
      @include blueButton();
      font-size: 16px;
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      margin-top: 30px;
      transition: background-color 0.3s, color 0.3s ease-in-out;
      text-decoration: none;
      &:hover {
        background-color: white;
        color: $theme-color;
      }
      &:active {
        background-color: white;
        color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
    .greybutton {
      @include blueButton();
      font-size: 16px;
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      margin-top: 30px;
      color: white;
      background-color: $light-grey;
      text-decoration: none;
      &:active {
        opacity: 1;
      }
    }
  }
}
