.content-detail {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  .content-intro {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
  .content-container {
    display: flex;
    align-items: center;
    // background-color: $greybox-color;
    padding: 15px;
    line-height: 20px;
  }
}
