.link {
  color: black;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.menu-container {
  display: flex;
  align-items: center;

  .menu-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2em;
  }

  .menu {
    display: flex;
    flex-direction: column;
    .menu-title {
      margin-bottom: 5px;
    }
    .menu-description {
      padding-top: 5px;
      border-top: 1px solid $light-grey;
      font-size: $small-font-size;
    }
  }
}
