.actions {
  display: flex;
  align-items: center;
  .icons {
    .icon {
      cursor: pointer;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
  .likes {
    font-weight: 600;
  }
}
