.card {
  @include boxBorder(yes);
  width: 30%;
  height: 350px;
  max-width: $max-card-width;
  margin-bottom: 60px;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
      0 5px 12px rgba(133, 133, 133, 0.22);
  @include breakpoint("phone") {
    background-color: transparent;
    border: 0;
    margin-bottom: 30px;
  }
  .header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    .image {
      width: 30px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .header-column {
      display: flex;
      flex-direction: column;
      .creator {
        font-weight: 600;
        margin-bottom: 5px;
      }
      .location {
        font-size: $small-font-size;
      }
    }
  }
  .card-image {
    max-height:200px;
    display: block;
    margin: 0 auto;
  }
  .meta {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}
