.card {
  // @include boxBorder(yes);
  width: 30%;
  height: 400px;
  max-width: $max-card-width;
  margin-bottom: 60px;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
    0 5px 12px rgba(133, 133, 133, 0.22);
  @include breakpoint("phone") {
    background-color: transparent;
    border: 0;
    margin-bottom: 30px;
  }
  .header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    .profile-image {
      width: 30px;
      border-radius: 50%;
      margin-right: 15px;
      cursor: pointer;
    }
    .header-column {
      display: flex;
      flex-direction: column;
      .creator {
        font-weight: 600;
        margin-bottom: 5px;
      }
      .location {
        font-size: $small-font-size;
      }
    }
  }
  .card-image {
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  .meta {
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
    .card-title {
      display: block;
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: 600;
    }
    .card-sub {
      font-size: $small-font-size;
    }
  }
  .card-schedule {
    display: flex;
    justify-content: space-between;
    font-size: $small-font-size;
    .card-date {
      margin-left: 10px;
    }
    .card-time {
      margin-right: 10px;
      .day {
        color: $theme-color;
      }
    }
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    .price {
      font-size: 18px;
      color: $theme-color;
    }
  }
}
