.comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .comment-content {
    display: flex;
    width: 90%;
    margin-top: 12px;
    .username {
      display: block;
      width: 15%;
      font-weight: 700;
      margin-right: 10px;
    }
    .edit-message {
      border-radius: 3px;
      border-color: $light-grey;
      width: 100%;
      font-size: $normal-font-size;
      resize: vertical;
      // &:focus {
      //   outline: none;
      // }
    }
    .message {
      display: flex;
      justify-content: flex-start;
      width: 85%;
      white-space: pre-line;
      word-break:break-all;
    }
  }
  .comment-function {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    margin-left: 10px;
  }
}
