.comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .comment-content {
    margin-top: 12px;
    .username {
      font-weight: 700;
      margin-right: 10px;
    }
    .edit-message {
      border-radius: 3px;
      border-color: $light-grey;
      width: 100%;
      &:focus {
        outline: none;
      }
      .message {
      }
    }
  }
  .comment-function {

  }
}
