.feed {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  align-items: center;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
  .feed-loading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
