.feed-banner {
  margin-bottom: 60px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: $big-font-size;
    font-weight: 600;
  }
  .feed {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $max-page-width;
    .cards {
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
      padding: 30px;
      box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
        0 5px 12px rgba(133, 133, 133, 0.22);
      @include breakpoint("max-tablet") {
        justify-content: center;
      }
      @include breakpoint("phone") {
        padding: 10px;
        margin-bottom: 0;
        box-shadow: none;
      }
      .feed-loading {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
