// 935px 기준으로 배너 반응형으로 만들 것

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 30px;
  @include breakpoint("phone-tablet") {
    justify-content: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint("phone-tablet") {
      display: none;
    }
    .profile-image {
      width: 120px;
      height: 120px;
      border: 3px solid white;
      border-radius: 50%;
      box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
        0 5px 12px rgba(133, 133, 133, 0.22);
      cursor: pointer;
    }
    .profile-text {
      margin-top: 15px;
      margin-bottom: 15px;
      color: white;
      .creator {
        font-weight: 600;
        cursor: pointer;
      }
    }
    .price {
      color: white;
    }
  }
  .button {
    margin-top: 30px;
    background-color: $theme-color;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
      0 5px 12px rgba(133, 133, 133, 0.22);
    padding: 15px 60px;
    color: white;
    font-size: $big-font-size;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $theme-color;
      transition: all 0.5s ease-in-out;
    }
  }
  .meta {
    display: flex;
    flex-direction: column;
    @include breakpoint("phone-tablet") {
      justify-content: center;
      text-align: center;
    }
    .banner-title {
      white-space: pre;
      font-size: 30px;
      font-weight: 600;
      color: white;
      margin-bottom: 20px;
    }
    .banner-sub {
      color: white;
    }
  }
}
