<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>신청하신 질문이 접수되었습니다</title>
</head>

<body style="width: 100%; height: 100%; box-sizing: border-box;">
    <div style="width: 60%; padding-top: 30px; padding-bottom: 30px; margin: 0 auto;">
        <div style="margin-bottom: 15px;">질문이 정상적으로 접수되었습니다.</div>
        <div><span style="margin-right: 5px; text-decoration: underline;">신한은행 문대성 110-354-698407</span>계좌번호로 입금하신 뒤</div>
        <div style="margin-bottom: 15px;">플러스친구 @위코드 연락해주세요 :)
            👉<a href="http://pf.kakao.com/_qExdRj" target="_blank" style="padding-bottom:1px; border-bottom: 1px solid #3fa9f5; color: #3fa9f5; text-decoration: none; ">카톡하기</a>
        </div>
        <!-- 제목 container -->
        <div style="margin-bottom: 10px;">
            <span style="font-size: 20px; font-weight:700;">제목</span>
        </div>
        <span style="display: inline-block; border-radius: 3px; border: 1px solid #3fa9f5; padding: 5px 15px; color: #3fa9f5; margin-bottom: 15px;">
            카테고리
        </span>

        <!-- 내용 container -->
        <div style="width:100%; padding: 15px; border-radius: 3px; border: 1px solid #efefef; margin-bottom: 15px; ">
            <span style="display: block; margin-bottom: 15px; font-weight:700;">문제(예시 문제 및 입력 데이터)</span>
            <code><pre>코드내용</pre></code>
        </div>
        <div style="width:100%; padding: 15px; border-radius: 3px; border: 1px solid #efefef; margin-bottom: 15px; ">
            <span style="display: block; margin-bottom: 15px; font-weight:700;">문제 설명 및 요구사항</span>
            <pre>문제 내용 설명</pre>
        </div>
        <div style="width:100%; padding: 15px; border-radius: 3px; border: 1px solid #efefef; margin-bottom: 15px; ">
            <span style="display: block; margin-bottom: 15px; font-weight:700;">예제 혹은 데이터 값 입력</span>
            <pre><code>인풋코드</code></pre>
        </div>
        <div style="width:100%; padding: 15px; border-radius: 3px; border: 1px solid #efefef; margin-bottom: 15px; ">
            <span style="display: block; margin-bottom: 15px; font-weight:700;">결과 출력값</span>
            <pre><code>아웃풋 코드</code></pre>
        </div>



    </div>
</body>

</html>