// 935px 기준으로 배너 반응형으로 만들 것

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30px;
  @include breakpoint("phone-tablet") {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint("phone-tablet") {
      display: none;
    }
    .profile-image {
      width: 120px;
      height: 120px;
      border: 3px solid white;
      border-radius: 50%;
      box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
        0 5px 12px rgba(133, 133, 133, 0.22);
      cursor: pointer;
    }
    .profile-text {
      margin-top: 15px;
      margin-bottom: 15px;
      color: white;
      .creator {
        font-weight: 600;
        cursor: pointer;
      }
    }
    .price {
      color: white;
    }
  }
  .move-button {
    width: 250px;
    padding: 15px 60px;
    margin-top: 30px;
    background-color: $theme-color;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
      0 5px 12px rgba(133, 133, 133, 0.22);
    color: white;
    font-size: $big-font-size;
    font-weight: 600;
    word-break: keep-all;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $theme-color;
      transition: all 0.5s ease-in-out;
    }
    @include breakpoint("phone") {
      margin-top: 10px;
    }
  }
  .meta {
    display: flex;
    flex-direction: column;
    width: 70%;

    // word-wrap: break-word;
    @include breakpoint("phone-tablet") {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .banner-title {
      font-size: 30px;
      font-weight: 600;
      color: white;
      margin-bottom: 20px;
      word-break: keep-all;
      @include breakpoint("phone") {
        font-size: 24px;
      }
    }
    .banner-sub {
      color: white;
      @include breakpoint("phone") {
        font-size: $normal-font-size;
      }
    }
  }
}
