.side-container {
  width: 100%;
  max-width: 200px;
  height: 100%;
  font-size: $small-font-size;
  @include breakpoint("max-board") {
    display: none;
  }
  .side-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    .category-title {
      color: $dark-grey;
      font-size: $normal-font-size;
      font-weight: 700;
      padding-bottom: 5px;
    }
    .side-item {
      padding-left: 3px;
      padding-bottom: 5px;
      cursor: pointer;
      &:last-child {
        padding-bottom: 0;
      }
      .more {
        color: black;
        &:hover,
        &:active {
          text-decoration: none;
          color: $theme-color;
        }
      }
    }
  }
}
