.footer {
  max-width: $max-page-width;
  width: 100%;
  padding: 20px;
  background-color: $light-grey;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .row {
    .nav {
      .list {
        display: flex;
        margin-bottom: 20px;
        .list-item {
          margin-right: 10px;
          color: $bg-color;
        }
      }
    }
    .about {
      display: flex;
      align-items: flex-start;
      color: $bg-color;
      margin-bottom: 20px;
    }
    .copyright {
      color: $bg-color;
      font-weight: 700;
    }
  }
}
