.footer {
  max-width: $max-page-width;
  width: 100%;
  padding: 20px;
  background-color: $light-grey;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $small-font-size;
  flex-wrap: wrap;
  @include breakpoint("phone-tablet") {
    justify-content: center;
  }
  .row {
    @include breakpoint("phone-tablet") {
      margin-bottom: 0;
    }
    .nav {
      .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        @include breakpoint("phone-tablet") {
          justify-content: center;
        }
        .list-item {
          margin: 10px 10px 10px 0;
          color: $bg-color;
          cursor: pointer;
          @include breakpoint(mobileonly) {
            margin-bottom: 15px;
            margin-right: 15px;
          }
        }
      }
    }
    .about {
      display: flex;
      align-items: flex-start;
      color: $bg-color;
      margin-bottom: 20px;
    }
    .copyright {
      color: $bg-color;
      font-weight: 700;
    }
  }
}
