.comments {
  .list {
    padding-bottom: 10px;
    margin-top: 10px;
  }
}
.comment {
  margin-bottom: 7px;
  .username {
    font-weight: 600;
    margin-right: 7px;
  }
  .message {
  }
}

ul {
  margin-bottom: 0;
}
