.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 3px;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
    0 5px 12px rgba(133, 133, 133, 0.22);
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 5px;
      vertical-align: middle;
      .title {
        margin-right: 15px;
        font-weight: 600;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 10px;
        border: 1px solid $greybox-color;
        border-radius: 3px;
        font-size: $normal-font-size;
        color: $dark-grey;
        .image-container {
          margin-top: 10px;
          .content-image {
            padding-bottom: 3px;
          }
        }
      }
    }
  }
}
