.containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  .board-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-size: $normal-font-size;
    @include breakpoint("max-board") {
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include breakpoint("max-tablet") {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .first-column {
      width: 20%;
      max-width: 250px;
      margin-right: 30px;
    }
    .second-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      max-width: $max-board-width;
      @include breakpoint("max-board") {
        width: 95%;
      }
      @include breakpoint("phone") {
        width: 100%;
      }
      .board-header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
        font-size: $normal-font-size;
        .board-menu {
          cursor: pointer;
          &:hover,
          &:active {
            font-weight: 700;
            color: $theme-color;
          }
        }
        .divider {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $max-page-width;
        .post-header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          padding-left: 5%;
          margin-bottom: 20px;
          box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
            0 5px 12px rgba(133, 133, 133, 0.22);
          @include breakpoint("max-tablet") {
            padding-left: 2.5%;
          }
          .post-title {
            margin-top: 15px;
            font-size: $big-font-size;
            font-weight: 700;
            color: $theme-color;
          }
          .post-intro {
            margin-bottom: 15px;
            font-size: $normal-font-size;
          }
        }
        .post-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
            0 5px 12px rgba(133, 133, 133, 0.22);
          @include breakpoint("max-tablet") {
            padding-top: 10px;
          }
          // 위코드 포스트 게시판
          .post-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding-top: 30px;
            .post {
              display: inline-block;
              width: 47%;
              margin-left: 1.5%;
              margin-right: 1.5%;
              margin-bottom: 30px;
              box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
                0 5px 12px rgba(133, 133, 133, 0.22);
              .first-row {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 250px;
                .post-image {
                  width: 100%;
                  height: 90%;
                  background-color: black;
                  opacity: 0.4;
                  cursor: pointer;
                }
                .creator-image {
                  position: absolute;
                  top: 15px;
                  right: 15px;
                  width: 35px;
                  height: 35px;
                  border: 2px solid white;
                  border-radius: 50%;
                  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
                    0 5px 12px rgba(133, 133, 133, 0.22);
                }

                .postcard-header {
                  margin-top: 5px;
                  margin-bottom: 5px;
                  .postcard-title {
                    color: black;
                    font-size: $normal-font-size;
                    font-weight: 700;
                    &:hover,
                    &:active {
                      color: $theme-color;
                      text-decoration: none;
                    }
                  }
                  .comment-count {
                    margin-left: 5px;
                    color: $theme-color;
                  }
                }
              }
              .second-row {
                display: flex;
                justify-content: center;
                align-items: center;

                .creator-name {
                }
              }
            }
          }
          // 위코드 포스트 이외 다른 게시판
          .post-board {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .post-category {
              display: flex;
              width: 95%;
              padding-top: 5px;
              padding-bottom: 5px;
              border-bottom: 1px solid $light-grey;
              margin-bottom: 10px;
              text-align: center;
              color: $dark-grey;
              @include breakpoint("max-tablet") {
                display: none;
              }
              .content-id {
                width: 5%;
                min-width: 60px;
              }
              .content-title {
                display: flex;
                justify-content: flex-start;
                width: 70%;
              }
              .creator-name {
                display: flex;
                justify-content: flex-end;
                width: 10%;
                min-width: 120px;
                margin-right: 15px;
              }
              .view-count {
                width: 5%;
                min-width: 60px;
              }
              .time {
                width: 5%;
                min-width: 60px;
              }
            }
          }
          .post {
            display: flex;
            justify-content: space-between;
            width: 95%;
            padding-bottom: 5px;
            border-bottom: 1px solid $greybox-color;
            margin-bottom: 5px;
            text-align: center;
            &:last-child {
              border-bottom: 0;
            }
            @include breakpoint("max-tablet") {
              flex-direction: column;
            }
            .first-section {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 75%;
              @include breakpoint("max-tablet") {
                width: 100%;
                justify-content: flex-start;
                margin-bottom: 3px;
              }
              .content-id {
                width: 6.6666%;
                min-width: 60px;
                font-size: $small-font-size;
                @include breakpoint("max-tablet") {
                  display: none;
                }
              }
              .content-title {
                display: flex;
                justify-content: flex-start;
                width: 93.3333%;
                .title {
                  color: black;
                  margin-right: 10px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  &:hover,
                  &:active {
                    text-decoration: none;
                    color: $theme-color;
                  }
                }
                .comment-count {
                  color: $theme-color;
                }
              }
            }
            .second-section {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              @include breakpoint("max-tablet") {
                justify-content: flex-start;
                width: 100%;
                font-size: $small-font-size;
                color: $light-grey;
              }
              .section-divider {
                display: none;
                @include breakpoint("max-tablet") {
                  display: inline-block;
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }
              .section-category {
                display: none;
                @include breakpoint("max-tablet") {
                  display: inline-block;
                  margin-right: 3px;
                }
              }
              .creator-name {
                display: flex;
                justify-content: flex-end;
                width: 10%;
                min-width: 120px;
                margin-right: 15px;
                @include breakpoint("max-tablet") {
                  width: auto;
                  min-width: initial;
                  margin-right: 0;
                }
              }
              .view-count {
                width: 5%;
                min-width: 60px;
                @include breakpoint("max-tablet") {
                  width: auto;
                  min-width: initial;
                }
              }
              .time {
                width: 5%;
                min-width: 60px;
                @include breakpoint("max-tablet") {
                  width: auto;
                  min-width: initial;
                }
              }
            }
          }
        }
      }
      .post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $max-page-width;
        margin-top: 15px;
        .page-button {
          width: 2em;
          border: 1px solid $light-grey;
          cursor: pointer;
          &:hover {
            color: $theme-color;
            box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
              0 5px 12px rgba(133, 133, 133, 0.22);
          }
          &:focus {
            outline: none;
          }
          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        .write-button {
          padding: 10px 15px;
          border-radius: 3px;
          color: white;
          background-color: $theme-color;
          &:hover,
          &:active {
            opacity: 0.9;
            text-decoration: none;
          }
        }
      }
    }
  }
}
