.containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  .board-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
    font-size: $normal-font-size;
    .first-column {
      width: 20%;
    }
    .second-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      .board-header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
        font-size: $normal-font-size;
        .board-menu {
          cursor: pointer;
          &:hover,
          &:active {
            font-weight: 700;
            color: $theme-color;
          }
        }
        .divider {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $max-page-width;
        padding: 30px;
        box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
          0 5px 12px rgba(133, 133, 133, 0.22);
        .post-header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          padding-bottom: 10px;
          border-bottom: 1px solid $light-grey;
          margin-bottom: 10px;

          .post-title {
            font-size: $big-font-size;
            font-weight: 700;
            padding-bottom: 5px;
          }
        }
      }
      .post {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        &:last-child {
          padding-bottom: 0px;
        }
        .first-column {
          display: flex;
          width: 60%;
          .post-id {
            display: inline-block;
            width: 10%;
            margin-right: 10px;
          }
          .post-title {
            display: inline-block;
            width: 90%;
          }
        }
        .second-column {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 40%;
          .username {
            margin-right: 20px;
          }
        }
      }
      .post-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: $max-page-width;
        margin-top: 30px;
        margin-bottom: 30px;
        .pagination {
        }
        .write-button {
          padding: 10px 15px;
          border-radius: 3px;
          color: white;
          background-color: $theme-color;
          &:hover,
          &:active {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

button {
  width: 2em;
  border: none;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
    0 5px 12px rgba(133, 133, 133, 0.22);
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
