.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $max-page-width;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  .row {
    width: 50%;
    min-width: 440px;
    &:last-child {
      width: 40%;
      @include breakpoint("phone-tablet") {
        width: 60%;
        max-width: 440px;
      }
      @include breakpoint("phone") {
        width: 100%;
        margin: 0;
      }
      .logo {
        width: 80px;
        height: 50px;
        margin-bottom: 10px;
      }
    }
    .white-box {
      text-align: center;
      font-size: $normal-font-size;
      padding: 15px;
      border-radius: 3px;
      box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
        0 5px 12px rgba(133, 133, 133, 0.22);
      @include boxBorder(no);
      border: 1px solid white;
      @include breakpoint("phone") {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active {
          box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
            0 5px 12px rgba(133, 133, 133, 0.22);
        }
      }
      .change-link {
        color: $theme-color;
        cursor: pointer;
      }
      .text {
        margin: 15px;
      }
    }
    .form-box {
      padding: 0 40px;
      padding-top: 30px;
      padding-bottom: 15px;
      border-radius: 3px;
      margin-bottom: 10px;
      img {
        height: 60px;
      }
    }
  }
}
