.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  .board-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-size: $normal-font-size;
    @include breakpoint("max-board") {
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include breakpoint("max-tablet") {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .first-column {
      width: 20%;
      margin-right: 30px;
    }
    .second-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      max-width: $max-board-width;
      @include breakpoint("max-board") {
        width: 95%;
      }
      @include breakpoint("max-tablet") {
        width: 100%;
      }
      .board-header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
        font-size: $normal-font-size;
        .link {
          cursor: pointer;
          color: black;
          &:hover,
          &:active {
            font-weight: 700;
            text-decoration: none;
            color: $theme-color;
          }
        }
        .board-menu {
          cursor: pointer;
          &:hover,
          &:active {
            font-weight: 700;
            color: $theme-color;
          }
        }
        .divider {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .content-container {
        width: 100%;
        padding: 30px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: 1px solid $theme-color;
        box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
          0 5px 12px rgba(133, 133, 133, 0.22);
        margin-bottom: 30px;
        .post-header {
          padding-bottom: 5px;
          .title {
            font-size: $big-font-size;
            font-weight: 700;
          }
        }
        .sub-info {
          display: flex;
          padding-bottom: 5px;
          border-bottom: 1px solid $greybox-color;
          color: $light-grey;
          font-size: $small-font-size;
          .info {
            &:first-child {
              margin-right: 10px;
            }
          }
        }
        .function-bar {
          display: flex;
          justify-content: flex-end;
          color: $light-grey;
          padding: 5px;
          .edit-button {
            margin-right: 5px;
            color: $light-grey;
            cursor: pointer;
            &:hover,
            &:active {
              text-decoration: none;
              color: $theme-color;
            }
          }
          .delete-button {
            cursor: pointer;
            &:hover,
            &:active {
              color: $theme-color;
            }
          }
        }
        .post-content {
          margin-top: 15px;
          font-size: $small-font-size;
        }
      }
      .answer-container {
        width: 100%;
        padding: 30px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: 1px solid $theme-color;
        box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
          0 5px 12px rgba(133, 133, 133, 0.22);
        margin-bottom: 30px;
      }
      .post-like {
        width: 100%;
        margin-bottom: 30px;
      }
      .comment-container {
        width: 100%;
        padding-bottom: 25px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3),
          0 5px 12px rgba(133, 133, 133, 0.22);
        .post-info {
          display: flex;
          justify-content: flex-end;
          padding: 5px;
          padding-right: 20px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background-color: $greybox-color;
          color: $dark-grey;
          .comment-count {
            color: $theme-color;
          }
          .divider {
            margin-left: 5px;
            margin-right: 5px;
          }
          .view-count {
          }
        }
      }
    }
  }
}
