.comment-container {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid $light-grey;
  margin-left: 20px;
  margin-right: 20px;
  font-size: $normal-font-size;
  &:last-child {
    border-bottom: none;
  }
  @include breakpoint("phone") {
    padding-right: 0;
  }
  .comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    @include breakpoint("phone") {
      flex-direction: column;
    }
    .comment-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .first-column {
        display: flex;
        justify-content: space-between;
        min-width: 140px;
        padding-bottom: 5px;
        // @include breakpoint("phone") {
        //   width: 50%;
        // }
        .username {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 15px;
          font-weight: 700;
        }
        .created-time {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: $light-grey;
          font-size: $small-font-size;
        }
      }
      .second-column {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
        .comment-function {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          min-width: 80px;
          // @include breakpoint("phone") {
          //   width: 20%;
          // }
          .icon {
            cursor: pointer;
            margin: 3px;
            transition: transform 0.3s ease-in-out;
            &:hover,
            &:active {
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .edit-message {
      border-radius: 3px;
      border-color: $light-grey;
      width: 100%;
      font-size: $normal-font-size;
      resize: vertical;
    }

    .comment-message {
      display: flex;
      justify-content: flex-start;
      width: 85%;
      padding-left: 10px;
      padding-bottom: 5px;
      white-space: pre-line;
      word-break: break-all;
      @include breakpoint("phone") {
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}
